main.hireme{
	padding: 1em;
	.project-step{
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 4em;
		.step-wrapper{
			text-align: center;
			margin-bottom: 2em;
			.step-image{
				width: 150px;
				height: 150px;
				margin-left: auto;
				margin-right: auto;
			}
			p{ font-size: 14px; }
		}
	}

	@media screen and (min-width: 768px){
		.project-step{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			.step-wrapper{
				padding: 1em;
				width: 40%;
				.step-image{
					width: 100px;
					height: 100px;
				}

				p{ font-size: 12px; }
			}
		}
	}

	@media screen and (min-width: 992px){
		.project-step{
			.step-wrapper{
				width: 25%;
				text-align: left;
			}
		}
	}
}


#wpcf7-f61-p57-o1{
	width: 100%;

	form.wpcf7-form{
		h2{
			font-size: 21px;
			text-align: center;
		}

		input{ 
			width: 100%;
		}

		.wpcf7-list-item{
			display: flex;
			height: 2em;

			input{ 
				width: 2em; 
				border: 1px solid red;
			}
		}

		textarea{ margin-top: 1em; }

	}

	.submit-button{
		
		width: 175px;
		input{
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;
			padding: 1em 0;
			border-radius: 15px;
		}
	}	

	@media screen and (min-width: 768px){
		max-width: 75%;
		margin-left: auto;
		margin-right: auto;


	}

	@media screen and (min-width: 992px){
		width: 1024px!important;
		max-width: 1024px!important;
		
		.questions{
			width: 1024px;
			@supports(grid-area: auto){
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto;
				grid-gap: 1em;

			}
		}
	}
}


@media screen and (min-width: 768px){
	.wpcf7-checkbox{
		@supports(grid-area: auto){
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
		}		
	}

}
