header#masthead{
	position: relative;
	.header-container{
		.site-branding{
			h1{ 
				font-size: 16px; 
				margin: 0;
				a{
					text-decoration: none;
					color: $color__text-main;
				}
			}
		}

		nav#site-navigation{

			#menu-toggle{
				width: 50px;
				height: 5px;
				position: fixed;
				top: 0;
				right: 0;
				margin: 25px;
				transform: rotate(0deg);
				transition: 0.5s ease-in-out;
				z-index: 100;
				cursor: pointer;

				span{
					display: block;
					position: absolute;
					height: 9px;
					width: 100%;
					background: $color__text-main;
					border-radius: 9px;
					opacity: 1px;
					left: 0;
					transform: rotate(0deg);
					transition: 0.5s ease-in-out;
				}

				span{
					&:nth-child(1){ top: 0px; }
					&:nth-child(2){ top: 12px; }
					&:nth-child(3){ top: 12px; }
					&:nth-child(4){ top: 24px; }
				}
			}

			#menu-toggle.open span{
				background: white;

			}

			#menu-toggle.open span:nth-child(1){
				top: 18px;
				width: 0%;
				left: 50%;
			}

			#menu-toggle.open span:nth-child(2){
				transform: rotate(45deg);
			}

			#menu-toggle.open span:nth-child(3){
				transform: rotate(-45deg);
			}

			#menu-toggle.open span:nth-child(4){
				top: 18px;
				width: 0px;
				left: 50px;
			}

			.menu-primary-container{

				ul#primary{
					z-index: 10;
					position: fixed;
					top: 0;
					left: 0;
					transform: translateX(-2000px);
					background: rgba(0,0,0,0.8);
					width: 100%;
					min-height: 100vh;
					margin: 0;
					padding: 0;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					transition: 0.5s ease-in-out;
					li{
						list-style: none;
						a{ 
							color: white; 
							text-decoration: none;
							font-size: 36px;
						}
					}
				}
			}

		}		
	}



	@media screen and (min-width: 768px){
		position: fixed;
		z-index: 100;
		width: 100%;
		transition: 0.3s ease-in-out;
		
		.header-container{
			margin: 0 auto;
			padding: 15px 25px;
			display: flex;
			justify-content: space-between;
			z-index: 20;
			width: 100%;
			&:before{ content: none;}
			&:after{ content: none; }
			.site-branding{
				display: inline-block;
				h1{ 
					font-size: 24px;
					font-weight:  400;
				}
			}

			nav#site-navigation{
				display: flex;
				flex-direction: row;
				#menu-toggle{ display: none; }
				.menu-primary-container{
					ul#primary{
						position: static;
						transform: translateX(0)!important;
						background: none;
						min-height: 0px;
						flex-direction: row;
						li{
							margin: 0 15px;
							position: relative;
							transition: 0.3s ease-in-out;

							a{
								color: $color__text-main;
								font-size: 14px;								
							}

							&:hover{
								&:after{
									content: "";
									position: absolute;
									top: 0;
									bottom: -10px;
									left: 0;
									right: 0;
									border-bottom: 4px solid $color__text-main;
									z-index: -1;
									animation: line 0.3s 1 ease-in-out;
								}
							}
						}
					}
				}
			}
		}	
	}	

}



.toggled{
	transform: translateX(0px)!important;
	position: fixed!important;
	width: 100%;
}

.site-header.scrolled{
	background: rgba(0,0,0,0.8)!important;

	.header-container{
		.site-branding{
			h1.site-title{
				a{ 
					color: white!important; 

				}
			}
		}		
		nav#site-navigation{
			.menu-primary-container{
				ul#primary{
					li{
						position: relative;
						transition: 0.3s ease-in-out;
						a{ color: white!important; }

						&:hover{
							&:after{
								content: "";
								position: absolute;
								top: 0;
								bottom: -10px;
								left: 0;
								right: 0;
								border-bottom: 4px solid white!important;
								z-index: -1;
								animation: line 0.3s 1 ease-in-out;								
							}
						}
					}
				}
			}
		}
	}
}

.white{
	li{
		&:hover{
			&:after{
				content: "";
				position: absolute;
				top: 0;
				bottom: -10px;
				left: 0;
				right: 0;
				border-bottom: 4px solid white!important;
				z-index: -1;
				animation: line 0.3s 1 ease-in-out;								
			}
		}
	}
}


@keyframes line{
	0%{ width: 0%; }
	100%{ width: 100%; }
}


/*
Pagination for Blog Post
*/

.pagination{
	margin-top: 3em;
	width: 100%;
	ul{
		margin: 0;
		padding: 0;		
		display: flex;
		flex-wrap:  wrap;
		justify-content: center;
		li{
			list-style: none;
			margin-bottom: 1em;
			a{
				background: lightblue;
				color: white;
				padding: 5px 10px;
				margin: 2px;
				font-size: 12px;
				text-decoration: none;
			}
		}

		li.active{
			a{				
				background: $color__text-main;
			}
		}

		li.previous,
		li.next{
			// width: 100%;
		}
	}	
}



nav.post-navigation{
	
	.nav-links{
		min-height: 150px;
		display: flex;
		flex-wrap: wrap;
		.nav-previous,
		.nav-next{
			padding: 1em;

			a{
				color: $color__text-main;
				text-decoration: none;
				font-weight: bolder;

				span{ 
					font-style: italic; 
					color: #808080;
					transition: color 0.3s ease-in-out;
				}

				&:hover{
					span{ color: $color__text-main; }
				}
			}
		}

		@media screen and (min-width: 768px){

			justify-content: space-between;
			.nav-previous,
			.nav-next{
				width: 40%;
			}
		}
	}
}